<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Spring Posts</title>
</head>
<body>
    <h1>Welcome to Spring Blog</h1>
    <div>
        <a href="/posts/add">Add new post</a>
    </div>
    <div>
        <div th:each="post: ${posts}">
            <ul>
                <li>
                    <h3 th:text="${post.getTitle()}"></h3>
                </li>
                <li>
                    <h4 th:text="${post.getBody()}"></h4>
                </li>
                <li>
                    <h4 th:text="${post.getStatus()}"></h4>
                </li>
                <li>
                    <a th:href="@{'/posts/edit/' + ${post.id}}">Edit</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>